.flag {
    display:inline-block;
    height:16px;
    width:16px;
    vertical-align:text-top;
    margin: 0 8px 0 8px;
}

.af { background: url('../img/flags/AF.png') no-repeat; background-size: 16px;}
.ax { background: url('../img/flags/AX.png') no-repeat; background-size: 16px;}
.al { background: url('../img/flags/AL.png') no-repeat; background-size: 16px;}
.dz { background: url('../img/flags/DZ.png') no-repeat; background-size: 16px;}
.as { background: url('../img/flags/AS.png') no-repeat; background-size: 16px;}
.ad { background: url('../img/flags/AD.png') no-repeat; background-size: 16px;}
.ao { background: url('../img/flags/AO.png') no-repeat; background-size: 16px;}
.ai { background: url('../img/flags/AI.png') no-repeat; background-size: 16px;}
.aq { background: url('../img/flags/AQ.png') no-repeat; background-size: 16px;}
.ag { background: url('../img/flags/AG.png') no-repeat; background-size: 16px;}
.ar { background: url('../img/flags/AR.png') no-repeat; background-size: 16px;}
.am { background: url('../img/flags/AM.png') no-repeat; background-size: 16px;}
.aw { background: url('../img/flags/AW.png') no-repeat; background-size: 16px;}
.au { background: url('../img/flags/AU.png') no-repeat; background-size: 16px;}
.at { background: url('../img/flags/AT.png') no-repeat; background-size: 16px;}
.az { background: url('../img/flags/AZ.png') no-repeat; background-size: 16px;}
.bs { background: url('../img/flags/BS.png') no-repeat; background-size: 16px;}
.bh { background: url('../img/flags/BH.png') no-repeat; background-size: 16px;}
.bd { background: url('../img/flags/BD.png') no-repeat; background-size: 16px;}
.bb { background: url('../img/flags/BB.png') no-repeat; background-size: 16px;}
.by { background: url('../img/flags/BY.png') no-repeat; background-size: 16px;}
.be { background: url('../img/flags/BE.png') no-repeat; background-size: 16px;}
.bz { background: url('../img/flags/BZ.png') no-repeat; background-size: 16px;}
.bj { background: url('../img/flags/BJ.png') no-repeat; background-size: 16px;}
.bm { background: url('../img/flags/BM.png') no-repeat; background-size: 16px;}
.bt { background: url('../img/flags/BT.png') no-repeat; background-size: 16px;}
.bo { background: url('../img/flags/BO.png') no-repeat; background-size: 16px;}
.ba { background: url('../img/flags/BA.png') no-repeat; background-size: 16px;}
.bw { background: url('../img/flags/BW.png') no-repeat; background-size: 16px;}
.bv { background: url('../img/flags/BV.png') no-repeat; background-size: 16px;}
.br { background: url('../img/flags/BR.png') no-repeat; background-size: 16px;}
.io { background: url('../img/flags/IO.png') no-repeat; background-size: 16px;}
.bn { background: url('../img/flags/BN.png') no-repeat; background-size: 16px;}
.bg { background: url('../img/flags/BG.png') no-repeat; background-size: 16px;}
.bf { background: url('../img/flags/BF.png') no-repeat; background-size: 16px;}
.bi { background: url('../img/flags/BI.png') no-repeat; background-size: 16px;}
.kh { background: url('../img/flags/KH.png') no-repeat; background-size: 16px;}
.cm { background: url('../img/flags/CM.png') no-repeat; background-size: 16px;}
.ca { background: url('../img/flags/CA.png') no-repeat; background-size: 16px;}
.cv { background: url('../img/flags/CV.png') no-repeat; background-size: 16px;}
.ky { background: url('../img/flags/KY.png') no-repeat; background-size: 16px;}
.cf { background: url('../img/flags/CF.png') no-repeat; background-size: 16px;}
.td { background: url('../img/flags/TD.png') no-repeat; background-size: 16px;}
.cl { background: url('../img/flags/CL.png') no-repeat; background-size: 16px;}
.cn { background: url('../img/flags/CN.png') no-repeat; background-size: 16px;}
.cx { background: url('../img/flags/CX.png') no-repeat; background-size: 16px;}
.cc { background: url('../img/flags/CC.png') no-repeat; background-size: 16px;}
.co { background: url('../img/flags/CO.png') no-repeat; background-size: 16px;}
.km { background: url('../img/flags/KM.png') no-repeat; background-size: 16px;}
.cg { background: url('../img/flags/CG.png') no-repeat; background-size: 16px;}
.cd { background: url('../img/flags/CD.png') no-repeat; background-size: 16px;}
.ck { background: url('../img/flags/CK.png') no-repeat; background-size: 16px;}
.cr { background: url('../img/flags/CR.png') no-repeat; background-size: 16px;}
.ci { background: url('../img/flags/CI.png') no-repeat; background-size: 16px;}
.hr { background: url('../img/flags/HR.png') no-repeat; background-size: 16px;}
.cu { background: url('../img/flags/CU.png') no-repeat; background-size: 16px;}
.cy { background: url('../img/flags/CY.png') no-repeat; background-size: 16px;}
.cz { background: url('../img/flags/CZ.png') no-repeat; background-size: 16px;}
.dk { background: url('../img/flags/DK.png') no-repeat; background-size: 16px;}
.dj { background: url('../img/flags/DJ.png') no-repeat; background-size: 16px;}
.dm { background: url('../img/flags/DM.png') no-repeat; background-size: 16px;}
.do { background: url('../img/flags/DO.png') no-repeat; background-size: 16px;}
.ec { background: url('../img/flags/EC.png') no-repeat; background-size: 16px;}
.eg { background: url('../img/flags/EG.png') no-repeat; background-size: 16px;}
.sv { background: url('../img/flags/SV.png') no-repeat; background-size: 16px;}
.gq { background: url('../img/flags/GQ.png') no-repeat; background-size: 16px;}
.er { background: url('../img/flags/ER.png') no-repeat; background-size: 16px;}
.ee { background: url('../img/flags/EE.png') no-repeat; background-size: 16px;}
.et { background: url('../img/flags/ET.png') no-repeat; background-size: 16px;}
.fk { background: url('../img/flags/FK.png') no-repeat; background-size: 16px;}
.fo { background: url('../img/flags/FO.png') no-repeat; background-size: 16px;}
.fj { background: url('../img/flags/FJ.png') no-repeat; background-size: 16px;}
.fi { background: url('../img/flags/FI.png') no-repeat; background-size: 16px;}
.fr { background: url('../img/flags/FR.png') no-repeat; background-size: 16px;}
.gf { background: url('../img/flags/GF.png') no-repeat; background-size: 16px;}
.pf { background: url('../img/flags/PF.png') no-repeat; background-size: 16px;}
.tf { background: url('../img/flags/TF.png') no-repeat; background-size: 16px;}
.ga { background: url('../img/flags/GA.png') no-repeat; background-size: 16px;}
.gm { background: url('../img/flags/GM.png') no-repeat; background-size: 16px;}
.ge { background: url('../img/flags/GE.png') no-repeat; background-size: 16px;}
.de { background: url('../img/flags/DE.png') no-repeat; background-size: 16px;}
.gh { background: url('../img/flags/GH.png') no-repeat; background-size: 16px;}
.gi { background: url('../img/flags/GI.png') no-repeat; background-size: 16px;}
.gr { background: url('../img/flags/GR.png') no-repeat; background-size: 16px;}
.gl { background: url('../img/flags/GL.png') no-repeat; background-size: 16px;}
.gd { background: url('../img/flags/GD.png') no-repeat; background-size: 16px;}
.gp { background: url('../img/flags/GP.png') no-repeat; background-size: 16px;}
.gu { background: url('../img/flags/GU.png') no-repeat; background-size: 16px;}
.gt { background: url('../img/flags/GT.png') no-repeat; background-size: 16px;}
.gg { background: url('../img/flags/GG.png') no-repeat; background-size: 16px;}
.gn { background: url('../img/flags/GN.png') no-repeat; background-size: 16px;}
.gw { background: url('../img/flags/GW.png') no-repeat; background-size: 16px;}
.gy { background: url('../img/flags/GY.png') no-repeat; background-size: 16px;}
.ht { background: url('../img/flags/HT.png') no-repeat; background-size: 16px;}
.hm { background: url('../img/flags/HM.png') no-repeat; background-size: 16px;}
.va { background: url('../img/flags/VA.png') no-repeat; background-size: 16px;}
.hn { background: url('../img/flags/HN.png') no-repeat; background-size: 16px;}
.hk { background: url('../img/flags/HK.png') no-repeat; background-size: 16px;}
.hu { background: url('../img/flags/HU.png') no-repeat; background-size: 16px;}
.is { background: url('../img/flags/IS.png') no-repeat; background-size: 16px;}
.in { background: url('../img/flags/IN.png') no-repeat; background-size: 16px;}
.id { background: url('../img/flags/ID.png') no-repeat; background-size: 16px;}
.ir { background: url('../img/flags/IR.png') no-repeat; background-size: 16px;}
.iq { background: url('../img/flags/IQ.png') no-repeat; background-size: 16px;}
.ie { background: url('../img/flags/IE.png') no-repeat; background-size: 16px;}
.im { background: url('../img/flags/IM.png') no-repeat; background-size: 16px;}
.il { background: url('../img/flags/IL.png') no-repeat; background-size: 16px;}
.it { background: url('../img/flags/IT.png') no-repeat; background-size: 16px;}
.jm { background: url('../img/flags/JM.png') no-repeat; background-size: 16px;}
.jp { background: url('../img/flags/JP.png') no-repeat; background-size: 16px;}
.je { background: url('../img/flags/JE.png') no-repeat; background-size: 16px;}
.jo { background: url('../img/flags/JO.png') no-repeat; background-size: 16px;}
.kz { background: url('../img/flags/KZ.png') no-repeat; background-size: 16px;}
.ke { background: url('../img/flags/KE.png') no-repeat; background-size: 16px;}
.ki { background: url('../img/flags/KI.png') no-repeat; background-size: 16px;}
.kp { background: url('../img/flags/KP.png') no-repeat; background-size: 16px;}
.kr { background: url('../img/flags/KR.png') no-repeat; background-size: 16px;}
.kw { background: url('../img/flags/KW.png') no-repeat; background-size: 16px;}
.kg { background: url('../img/flags/KG.png') no-repeat; background-size: 16px;}
.la { background: url('../img/flags/LA.png') no-repeat; background-size: 16px;}
.lv { background: url('../img/flags/LV.png') no-repeat; background-size: 16px;}
.lb { background: url('../img/flags/LB.png') no-repeat; background-size: 16px;}
.ls { background: url('../img/flags/LS.png') no-repeat; background-size: 16px;}
.lr { background: url('../img/flags/LR.png') no-repeat; background-size: 16px;}
.ly { background: url('../img/flags/LY.png') no-repeat; background-size: 16px;}
.li { background: url('../img/flags/LI.png') no-repeat; background-size: 16px;}
.lt { background: url('../img/flags/LT.png') no-repeat; background-size: 16px;}
.lu { background: url('../img/flags/LU.png') no-repeat; background-size: 16px;}
.mo { background: url('../img/flags/MO.png') no-repeat; background-size: 16px;}
.mk { background: url('../img/flags/MK.png') no-repeat; background-size: 16px;}
.mg { background: url('../img/flags/MG.png') no-repeat; background-size: 16px;}
.mw { background: url('../img/flags/MW.png') no-repeat; background-size: 16px;}
.my { background: url('../img/flags/MY.png') no-repeat; background-size: 16px;}
.mv { background: url('../img/flags/MV.png') no-repeat; background-size: 16px;}
.ml { background: url('../img/flags/ML.png') no-repeat; background-size: 16px;}
.mt { background: url('../img/flags/MT.png') no-repeat; background-size: 16px;}
.mh { background: url('../img/flags/MH.png') no-repeat; background-size: 16px;}
.mq { background: url('../img/flags/MQ.png') no-repeat; background-size: 16px;}
.mr { background: url('../img/flags/MR.png') no-repeat; background-size: 16px;}
.mu { background: url('../img/flags/MU.png') no-repeat; background-size: 16px;}
.yt { background: url('../img/flags/YT.png') no-repeat; background-size: 16px;}
.mx { background: url('../img/flags/MX.png') no-repeat; background-size: 16px;}
.fm { background: url('../img/flags/FM.png') no-repeat; background-size: 16px;}
.md { background: url('../img/flags/MD.png') no-repeat; background-size: 16px;}
.mc { background: url('../img/flags/MC.png') no-repeat; background-size: 16px;}
.mn { background: url('../img/flags/MN.png') no-repeat; background-size: 16px;}
.me { background: url('../img/flags/ME.png') no-repeat; background-size: 16px;}
.ms { background: url('../img/flags/MS.png') no-repeat; background-size: 16px;}
.ma { background: url('../img/flags/MA.png') no-repeat; background-size: 16px;}
.mz { background: url('../img/flags/MZ.png') no-repeat; background-size: 16px;}
.mm { background: url('../img/flags/MM.png') no-repeat; background-size: 16px;}
.na { background: url('../img/flags/NA.png') no-repeat; background-size: 16px;}
.nr { background: url('../img/flags/NR.png') no-repeat; background-size: 16px;}
.np { background: url('../img/flags/NP.png') no-repeat; background-size: 16px;}
.nl { background: url('../img/flags/NL.png') no-repeat; background-size: 16px;}
.an { background: url('../img/flags/AN.png') no-repeat; background-size: 16px;}
.nc { background: url('../img/flags/NC.png') no-repeat; background-size: 16px;}
.nz { background: url('../img/flags/NZ.png') no-repeat; background-size: 16px;}
.ni { background: url('../img/flags/NI.png') no-repeat; background-size: 16px;}
.ne { background: url('../img/flags/NE.png') no-repeat; background-size: 16px;}
.ng { background: url('../img/flags/NG.png') no-repeat; background-size: 16px;}
.nu { background: url('../img/flags/NU.png') no-repeat; background-size: 16px;}
.nf { background: url('../img/flags/NF.png') no-repeat; background-size: 16px;}
.mp { background: url('../img/flags/MP.png') no-repeat; background-size: 16px;}
.no { background: url('../img/flags/NO.png') no-repeat; background-size: 16px;}
.om { background: url('../img/flags/OM.png') no-repeat; background-size: 16px;}
.pk { background: url('../img/flags/PK.png') no-repeat; background-size: 16px;}
.pw { background: url('../img/flags/PW.png') no-repeat; background-size: 16px;}
.ps { background: url('../img/flags/PS.png') no-repeat; background-size: 16px;}
.pa { background: url('../img/flags/PA.png') no-repeat; background-size: 16px;}
.pg { background: url('../img/flags/PG.png') no-repeat; background-size: 16px;}
.py { background: url('../img/flags/PY.png') no-repeat; background-size: 16px;}
.pe { background: url('../img/flags/PE.png') no-repeat; background-size: 16px;}
.ph { background: url('../img/flags/PH.png') no-repeat; background-size: 16px;}
.pn { background: url('../img/flags/PN.png') no-repeat; background-size: 16px;}
.pl { background: url('../img/flags/PL.png') no-repeat; background-size: 16px;}
.pt { background: url('../img/flags/PT.png') no-repeat; background-size: 16px;}
.pr { background: url('../img/flags/PR.png') no-repeat; background-size: 16px;}
.qa { background: url('../img/flags/QA.png') no-repeat; background-size: 16px;}
.re { background: url('../img/flags/RE.png') no-repeat; background-size: 16px;}
.ro { background: url('../img/flags/RO.png') no-repeat; background-size: 16px;}
.ru { background: url('../img/flags/RU.png') no-repeat; background-size: 16px;}
.rw { background: url('../img/flags/RW.png') no-repeat; background-size: 16px;}
.bl { background: url('../img/flags/BL.png') no-repeat; background-size: 16px;}
.sh { background: url('../img/flags/SH.png') no-repeat; background-size: 16px;}
.kn { background: url('../img/flags/KN.png') no-repeat; background-size: 16px;}
.lc { background: url('../img/flags/LC.png') no-repeat; background-size: 16px;}
.mf { background: url('../img/flags/MF.png') no-repeat; background-size: 16px;}
.pm { background: url('../img/flags/PM.png') no-repeat; background-size: 16px;}
.vc { background: url('../img/flags/VC.png') no-repeat; background-size: 16px;}
.ws { background: url('../img/flags/WS.png') no-repeat; background-size: 16px;}
.sm { background: url('../img/flags/SM.png') no-repeat; background-size: 16px;}
.st { background: url('../img/flags/ST.png') no-repeat; background-size: 16px;}
.sa { background: url('../img/flags/SA.png') no-repeat; background-size: 16px;}
.sn { background: url('../img/flags/SN.png') no-repeat; background-size: 16px;}
.rs { background: url('../img/flags/RS.png') no-repeat; background-size: 16px;}
.sc { background: url('../img/flags/SC.png') no-repeat; background-size: 16px;}
.sl { background: url('../img/flags/SL.png') no-repeat; background-size: 16px;}
.sg { background: url('../img/flags/SG.png') no-repeat; background-size: 16px;}
.sk { background: url('../img/flags/SK.png') no-repeat; background-size: 16px;}
.si { background: url('../img/flags/SI.png') no-repeat; background-size: 16px;}
.sb { background: url('../img/flags/SB.png') no-repeat; background-size: 16px;}
.so { background: url('../img/flags/SO.png') no-repeat; background-size: 16px;}
.za { background: url('../img/flags/ZA.png') no-repeat; background-size: 16px;}
.gs { background: url('../img/flags/GS.png') no-repeat; background-size: 16px;}
.es { background: url('../img/flags/ES.png') no-repeat; background-size: 16px;}
.lk { background: url('../img/flags/LK.png') no-repeat; background-size: 16px;}
.sd { background: url('../img/flags/SD.png') no-repeat; background-size: 16px;}
.sr { background: url('../img/flags/SR.png') no-repeat; background-size: 16px;}
.sj { background: url('../img/flags/SJ.png') no-repeat; background-size: 16px;}
.sz { background: url('../img/flags/SZ.png') no-repeat; background-size: 16px;}
.se { background: url('../img/flags/SE.png') no-repeat; background-size: 16px;}
.ch { background: url('../img/flags/CH.png') no-repeat; background-size: 16px;}
.sy { background: url('../img/flags/SY.png') no-repeat; background-size: 16px;}
.tw { background: url('../img/flags/TW.png') no-repeat; background-size: 16px;}
.tj { background: url('../img/flags/TJ.png') no-repeat; background-size: 16px;}
.tz { background: url('../img/flags/TZ.png') no-repeat; background-size: 16px;}
.th { background: url('../img/flags/TH.png') no-repeat; background-size: 16px;}
.tl { background: url('../img/flags/TL.png') no-repeat; background-size: 16px;}
.tg { background: url('../img/flags/TG.png') no-repeat; background-size: 16px;}
.tk { background: url('../img/flags/TK.png') no-repeat; background-size: 16px;}
.to { background: url('../img/flags/TO.png') no-repeat; background-size: 16px;}
.tt { background: url('../img/flags/TT.png') no-repeat; background-size: 16px;}
.tn { background: url('../img/flags/TN.png') no-repeat; background-size: 16px;}
.tr { background: url('../img/flags/TR.png') no-repeat; background-size: 16px;}
.tm { background: url('../img/flags/TM.png') no-repeat; background-size: 16px;}
.tc { background: url('../img/flags/TC.png') no-repeat; background-size: 16px;}
.tv { background: url('../img/flags/TV.png') no-repeat; background-size: 16px;}
.ug { background: url('../img/flags/UG.png') no-repeat; background-size: 16px;}
.ua { background: url('../img/flags/UA.png') no-repeat; background-size: 16px;}
.ae { background: url('../img/flags/AE.png') no-repeat; background-size: 16px;}
.gb { background: url('../img/flags/GB.png') no-repeat; background-size: 16px;}
.us { background: url('../img/flags/US.png') no-repeat; background-size: 16px;}
.um { background: url('../img/flags/UM.png') no-repeat; background-size: 16px;}
.uy { background: url('../img/flags/UY.png') no-repeat; background-size: 16px;}
.uz { background: url('../img/flags/UZ.png') no-repeat; background-size: 16px;}
.vu { background: url('../img/flags/VU.png') no-repeat; background-size: 16px;}
.ve { background: url('../img/flags/VE.png') no-repeat; background-size: 16px;}
.vn { background: url('../img/flags/VN.png') no-repeat; background-size: 16px;}
.vg { background: url('../img/flags/VG.png') no-repeat; background-size: 16px;}
.vi { background: url('../img/flags/VI.png') no-repeat; background-size: 16px;}
.wf { background: url('../img/flags/WF.png') no-repeat; background-size: 16px;}
.eh { background: url('../img/flags/EH.png') no-repeat; background-size: 16px;}
.ye { background: url('../img/flags/YE.png') no-repeat; background-size: 16px;}
.zm { background: url('../img/flags/ZM.png') no-repeat; background-size: 16px;}
.zw { background: url('../img/flags/ZW.png') no-repeat; background-size: 16px;}

/* Custom country codes used by Getflix */

.g0 { background: url('../img/flags/GB.png') no-repeat; background-size: 16px;}

.u0 { background: url('../img/flags/US.png') no-repeat; background-size: 16px;}
.u1 { background: url('../img/flags/US.png') no-repeat; background-size: 16px;}
.u2 { background: url('../img/flags/US.png') no-repeat; background-size: 16px;}
.u3 { background: url('../img/flags/US.png') no-repeat; background-size: 16px;}
.u4 { background: url('../img/flags/US.png') no-repeat; background-size: 16px;}
.u5 { background: url('../img/flags/US.png') no-repeat; background-size: 16px;}
.u6 { background: url('../img/flags/US.png') no-repeat; background-size: 16px;}
.u7 { background: url('../img/flags/US.png') no-repeat; background-size: 16px;}
